* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  border-radius: 5px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex_align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.flex_align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex_space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex_space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex_self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex_nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.text-center {
  text-align: center;
}

.flex_basis-33 {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  max-width: 33.33%;
}

.flex_basis-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.flex_basis-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.uppercase {
  text-transform: uppercase;
}