$font-tinos: 'Tinos';
$font-open-normal: 'Open Sans normal';
$font-open-bold: 'Open Sans bold';
$font-open-italic: 'Open Sans italic';
$font-cookie: "Cookie";

$color-white: #fff;
$color-black: #000;
$color-brandy: #D67E35;
$color-orange: #FF7400;
$color-brown: #BC9060;
$color-gray:  #656363;
$color-mine: #2C2C2C;
$color-grey: #E6E5E5;
$color-red: #FF0000;