* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body { 
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: calc(100% - 330px);
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

.title {
    font-family: Tinos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: $color-black;
    text-align: center;

    &_brown {
        color: $color-brandy;
    }
}

