.button {
   font-family: $font-open-bold, sans-sarif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $color-white;
    padding: 14px 19px;
    background-color: $color-orange;
    border: none;
    transition: all .4s;

    &:hover {
        background-color: $color-gray;
        color: $color-brandy;
        cursor: pointer;
    }
}