.benefits {
    position: relative;
    top: -139px;
    padding-bottom: 150px;

    &__item {
        background-color: $color-white;
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
        padding: 48px 50px 0;
        font-family: $font-tinos, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: $color-mine;
        text-align: center;
        width: 362px;
        min-height: 386px;

        &-wrapper {
            padding: 0 15px;
        }
    }

    &__title {
        margin-bottom: 20px;

        &_brown {
            color: $color-brown;
        }
    }

    &__img {
        max-width: 87px;

        &-wrapper {
            margin-bottom: 5px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 30px;
    }
}